body{
    font-family: 'Comfortaa',cursive;
}
.container{
    width:80%;
    margin: 100px;
    border-radius: 10px;
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 20px;
}

#code{
    width: 80%;
    margin: 50px auto;
    background-color: black;
    height: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 10px;
    color:rgb(41, 203, 203);
}



button{
    height: 50px;
    width: 100px;
    font-size: larger;
    border-radius: 20px;
    outline: none;
    border: 1px solid white;
}